name: Build and upload release artifact

on:
  release:
    types: [created]

env:
  RELEASE_VERSION: ${{ github.event.release.tag_name }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set Release Version
      run: echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build
      run: |
        BUILD=$(git log --format='%H' -n 1)
        VERSION=$RELEASE_VERSION
        OSES="linux darwin"
        ARCHS="amd64 arm64"
        IFS=" "

        for OS in $OSES; do
        for ARCH in $ARCHS; do
        echo "OS: ${OS} and ARCH: ${ARCH}"
        GOOS=${OS} GOARCH=${ARCH} go build -ldflags "-w -s -X github.com/nginxinc/nginx-k8s-supportpkg/pkg/version.Build=$BUILD\
                                                   -X github.com/nginxinc/nginx-k8s-supportpkg/pkg/version.Version=$VERSION"\
                                                   -o release/kubectl-nic-supportpkg_${VERSION}_${OS}_${ARCH}/kubectl-nic-supportpkg
        cp LICENSE release/kubectl-nic-supportpkg_${VERSION}_${OS}_${ARCH}/
        tar czvf release/kubectl-nic-supportpkg_${VERSION}_${OS}_${ARCH}.tar.gz -C release kubectl-nic-supportpkg_${VERSION}_${OS}_${ARCH}
        done; done

    - name: Upload release binaries
      uses: alexellis/upload-assets@0.4.0
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        asset_paths: '["./release/*.gz"]'